@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Inter, sans-serif;
}
body {
  background: #0F172A;
  color: white;
}

table {
  color: white;
}

input,
select {
  color: black;
}